<div class="col-md-12">
 <h1>Contact Us</h1>
<p></p>
  <p><%= link_to "Home", root_path, class: "btn btn-primary btn-lg" %></p>
  <div class="col-md-12 swirl">

  
<div class='col-md-4'>
 
     
   
</div>
<div class='col-md-4'>

     
  
</div>
<div class='col-md-4'>

     
  
</div>
</div>
</div>